<!DOCTYPE html>
<html>
<head>
  <title>Ghood Fashion</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</head>
<body class="<%= controller.controller_name %>">
	
	<div id="banner">
		<!-- <%= image_tag('logo.jpg')%> -->
		<%= @page_title || "Ghood Fashion - Custom Tees"%>
	</div>	
	<div id="columns">
		<div id="side">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="">Home</a></li>
				<li><a href="">Questions</a></li> 
				<li><a href="">News</a></li> 
				<li><a href="">Contact</a></li>
			</ul>
		</div>

		<div id="main">
			<%= yield %>
		</div>
	</div>

</body>
</html>
